<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <%- include('nav.ejs')%>

    <div class="detail-bg">
        <h4><%= post.title%></h4>
        <p><%- post.content%></p>
    </div>

    <form class="commentForm" action="/comment" method="POST">
        <input placeholder="착한댓글 달기" maxlength="20" size="25" name="comment">
        <input value="<%= post._id%>" type="hidden" name="postId">
        <button type="submit">전송</button>
    </form>
    <%for(let i=0;i < comment.length;i++){%>
        <div class="comment-box">
            <p><strong><%=comment[i].user%></strong>  <%= (comment[i].comment) %></p>
        </div>
    <%}%>

    

</body>
</html>